.modal-body{
    width: 100%;
    max-height: 50vh !important;
    overflow-y: auto;
}

.modal-cart{
    width: 100vw !important;
    max-height: 60vh !important;
    --bs-modal-width: 70vw !important;
    overflow: hidden !important;
}

.trash-icon{
    color: rgba(129, 127, 127, 0.651);
    cursor: pointer;
}

.trash-icon:hover{
    color: rgba(255, 0, 0, 0.993);
}

.cart-item-text{
    font-size: 1rem !important;
}
